<!-- Navigation bar -->
<section  class=" fixed-top number">
    <div class="container pt-3 pb-2">
    <div class="container ">

        <div class="row">
            <div class="col-md-3 col-lg-2 col-12">
                <div class="d-flex header_main">
                    <img src="assets/Vector.png" alt="phone" width="20px" height="20px">
                    <span>
                        <p class="top_header"> &nbsp; +91 9645423433 </p>
                    </span>
                </div>

            </div>
            <div class="col-md-4 col-lg-3 col-12">
                <div class="d-flex  header_main">
                    <img src="assets/envelope (1).png" alt="phone" width="17.92px" height="16.25px">
                    <span>
                        <p class="top_header">  &nbsp; bluejewellery@gmail.com</p>
                    </span>
                </div>
            </div>
            <div class="col-md-5 col-lg-7 col-12">
                <div class="d-flex justify-content-end  header_main">
                    <img src="assets/Shield Done.png" alt="phone" width="24px" height="24px">
                    <span>
                        <p class="top_header">  &nbsp; 100% Trust & Safe</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</section>

<section>
    
<nav class="navbar navbar-expand-lg fixed-top">
    <hr>
    <div class="container">
        <div class="d-flex justify-content-center">
         <p class="shine">Shine & Bright</p>
        </div>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">   
                        <div class="row">
                <div class="col-lg-12 items1">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="" id="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact Us</a>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr>
</nav>

</section>
<!-- Carousal ------------------------------------------------------------------------ -->
<section>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/pexels-ids-fotowale-1416063-17000486 (1) 1.png" class="banner d-block w-100" alt="Section1-web-banner">
        </div>
        <!-- <div class="carousel-item">
          <img src="assets/images/banner2.webp" class="banner d-block w-100" alt="Section1-web-banner">
        </div>
        <div class="carousel-item">
          <img src="assets/images/Banner3.webp" class="banner d-block w-100" alt="Section1-web-banner">
        </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </section>

<!-- About section ------------------------------------------------------------------------------------  -->

<section class="about-heading" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="about">About Us</p>
                <p class="all">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over
                    200 Latin words.</p>
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
    </div>
<div class="about-content">


    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/pexels-mariam-antadze-6431174.png" class="img-fluid" alt="Image 1" width="387px">
                <img src="assets/pexels-agung-pandit-wiguna-3214241.png" class="img-fluid hide-on-small" alt="Image 2" width="191px">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                <p class="build">Building Memories, One Moment at a Time</p>
                <p class="philo">Philosophy</p>
                <p class="gold">Gold, the ancient, the modern and the futuristic asset class– The class apart.</p>
                <p class="philo">Vision</p>
                <p class="gold">To build, characterize, designate, exemplify, illustrate, interpret, formalize and label Gold as timeless currency with absolute class domination the Gold first.</p>
                <p class="philo">Mission</p>
                <p class="gold">To stimulate, sustain demand for gold, provide monetization and be the leader on the GOLD Liquidity.</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12"></div>
        </div>
    </div>
    </div>
</section>


<!-- promises ------------------------------------------------------------------------------------ -->
<section class="assured_container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                <div class="scrollable-container">
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/guaranteed.png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Assured Lifetime Maintenance</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/gold-ingots 1.png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Purity 24k(999 Purity)</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/asset.png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Easy Exchange</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/jewelry (8).png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Your Jewellery is Insured</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/calendar.png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">14 Days Return Policy</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/transparency (2).png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Complete Transparency</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/safety.png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Guaranteed Buyback</p></a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="assets/security (3).png" alt="assured" width="36px" height="36px">
                        <p class="assured_para">Security</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Products section ------------------------------------------------------------------------------------ -->
 <section class="products-header" id="products">
    <div class="container ">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="about">Products</p>
                <p class="all">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
    </div>

    <div class="container products-content">
        <div class="row g-1">
            <div class="col-lg-6">
                <div class="row g-1">
                    <div class="col-lg-12">
                        <img src="assets/pexels-beyzaa-yurtkuran-15856345 (1) 1.png" class="img-fluid" alt="Image 1">
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-lg-6 mt-2">
                        <img src="assets/pexels-beyzaa-yurtkuran-15856321 1.png" class="img-fluid" alt="Image 2">
                    </div>
                    <div class="col-lg-6 mt-2">
                        <img src="assets/pexels-elisabeth-ende-7371946 2.png" class="img-fluid" alt="Image 3">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <img src="assets/pexels-agung-pandit-wiguna-3214241 1.png" class="img-fluid" alt="Image 4">
            </div>
            <div class="col-lg-3">
                <div class="row g-1">
                    <div class="col-lg-12">
                        <img src="assets/pexels-anastasiya-lobanovskaya-792760 2.png" class="img-fluid" alt="Image 5">
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-lg-12 mt-2">
                        <img src="assets/pexels-the-glorious-studio-5370646.png" class="img-fluid" alt="Image 6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
 </section>

 <!-- contact us ------------------------------------------------------------------------------------ -->

 <section id="contact">
    <div class="container contact-header">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <p class="about">Contact Us</p>
                <p class="all">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
            </div>
            <div class="col-lg-3">
                
            </div>
        </div>
    </div>

    <div class="container" id="cont">
        <div class="row">

            <div class="col-lg-3">
                <img src="assets/Vector.png" class="image">
                <p id="num">+91 7645486421</p>
                <P id="para1">Support team will be available from
                    9:00 AM till 7:00 PM</P>
                <p id="para2">Connect with our delight team over
                    a quick phone call</p>
            </div>

            <div class="col-lg-3">
                <img src="assets/envelope (1).png" class="image">
                <p id="num">novia@gmail.com</p>
                <p id="para2">Your question or feedback are always
                    welcome at bluejewellery.com</p>
            </div>

            <div class="col-lg-3">
                <img src="assets/whatsapp.png" class="image">
                <p id="num">Whatsapp Us</p>
                <p id="para2">Our 24x7 shopping assistant is a text
                    away</p>
            </div>

            <div class="col-lg-3">
                <img src="assets/marker.png" class="image">
                <p id="num">Address</p>
                <p id="para2">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, , Malad West, Mumbai 400064, India.</p>
            </div>
        </div>
    </div>

 </section>
 
 <!-- Footer ------------------------------------------------------------------------------------ -->
 <section>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_logo">
                            <img src="assets/Shine & Bright.png" alt="logo" id="logo" width="162px" height="31px">
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-12">
                        <div class="d-flex justify-content-evenly">
                            <p class="footer_nav">Home</p>
                            <p class="footer_nav">About Us</p>
                            <p class="footer_nav">Products</p>
                            <p class="footer_nav">Contact Us</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-12">
                        <div class="d-flex justify-content-center">
                            <p class="footer_nav">Follow Us: </p>
                            <div class="d-flex justify-content-evenly flex-fill follow_us_maindiv">
                                <div><img src="assets/Facebook.png" alt="facebbok" class="footer_followus">
                                </div>
                                <div> <img src="assets/Insta.png" alt="insta" class="footer_followus">
                                </div>
                                <div><img src="assets/Twitter.png"
                                        alt="twitter" class="footer_followus"></div>
                                <div> <img src="assets/Youtube.png" alt="youtube" class="footer_followus">
                                </div>
                                <div> <img src="assets/Linkedin.png" alt="linkedin" class="footer_followus">
                                </div>
                                <div><img src="assets/Pin.png" alt="pet" class="footer_followus"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row footer_space_bottom">
                    <div class="col-md-6 col-12 display_none1">
                        <div class="d-flex">
                            <p class="footer_nav">We Accept: &nbsp;</p>
                            <div class="payments d-flex flex-fill justify-content-between align-items-center">
                                <img src="assets/visa.svg.png" alt="visa" class="visa">
                                <img src="assets/master_card.svg.png" alt="visa" class="master">
                                <img src="assets/paytm.svg.png" alt="visa" class="paytm">
                                <img src="assets/rupay.svg.png" alt="visa" class="rupay">
                                <img src="assets/cod.svg.png" alt="visa" class="cod">
                                <img src="assets/paypal.svg.png" alt="visa" class="paypal">
                                <img src="assets/american_express.svg.png" alt="visa"
                                    class="american_express">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 display_start">
                        <p class="designed_by">2023-2024 bluejewellery.Design by: <span><a href="https://xyug.in/"
                                    class="xyug"> X-YUG Technologies</a></span></p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</section>